<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <label >Specified yor search</label>
  <input type="text" placeholder="Enter city..." formControlName="cityName" >
  <label>Country</label>
  <select name="country" formControlName="selectedCountry" >
    <option value="australia">Australia</option>
    <option value="brasil">Brasil</option>
    <option value="deutschland">Deutschland</option>
    <option value="espana">Espana</option>
    <option value="france">France</option>
    <option value="india">India</option>
    <option value="italia">Italia</option>
    <option value="mexico">Mexico</option>
    <option value="uk">UK</option>
  </select>
  <button>Search</button>
</form>
<app-items></app-items>
